<%= render partial: "layouts/navbar" %>
<h2>Login Form</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(user_path, method: 'post') do %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= label_tag :email, class: "login-label" %>
      <%= text_field_tag :email, class: "login-field" %>

      <%= label_tag :password, class: "login-label" %>
      <%= password_field_tag :password, class: "login-field" %>

      <%= submit_tag "Login", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>